$main-color: #3c3;
$background-color: #fff;

body {
    background: $main-color;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 5%;
    background: $background-color;
}
